{% extends 'productos/contenedorCrearProducto.html'%}
{% load crispy_forms_tags %}
{% block crearProducto %}

    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        <h5>Creá tu producto!</h5> <br><br>
        {{form.errors}}
        
    <div class="row"> 
            <div class="col-lg-6 mt-3">
                {{form.nombre}}
            </div>
            <div  Class="col-lg-6 mt-3" style="background: #749c3700; position: static; padding-right: 0px; color: #46984c; font-weight: 800; text-transform: uppercase; display: inline-block; padding: 13px 30px 12px; border: none;">
                    
                {{form.imagen}} 
            </div>

        </div>
    <div class="row">
            <div class="col-lg-6 mt-3 " > <br><br>
                {{form.descripcion}}
            </div> 

    
    </div> <br><br>
        <input style="background: #7fad39;  color: #ffffff; font-weight: 800; text-transform: uppercase; display: inline-block; padding: 13px 30px 12px; border: none;" class="maxlength=30" type="submit" value="CREAR">
    </form>


{% endblock %}