
{% block productosperfil %}

			<h1>SOY TODOS LOS PRODUCTOS CON FUNCION =)!</h1>
			{% for p in productos %}
				<p><b>NOMBRE: </b>{{p.nombre}}</p>
				<p><b>DESCRIPCION: </b>{{p.descripcion}}</p>
				{% if p.imagen %}
					<img src="{{p.imagen.url}}" width="200" height="200">
				{% else %}
					<p>NO TENGO IMAGEN</p>
				{% endif %}
				{% if user.is_authenticated %}
				<a href="{% url 'productos:modificar' p.codigo %}">MODIFICAR ESTE PRODUCTO</a>
				<form method="POST" action="{% url 'productos:eliminar' p.codigo %}">{% csrf_token %}
					<button type="submit">ELIMIAR ESTE PRODUCTO</button>
				</form>
				{% endif %}
			{% endfor %}




{% endblock %}
