<section class="hero">
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-lg-3">
                
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Categorias</span>
                    </div>
                    <ul>
                        {% for i in rubros %}
                        <li><a href="#" onclick="buscar('{{i}}');">{{i}}</a></li>
                        {% endfor %}
                    </ul>
                    
                </div>
                
            </div>
            <div class="col-lg-9">
               
              <div class="container-fluid">
                <br>
                <br>
                <div id="resultados">
                    {% include 'perfil/mostrarsinlog.html' %}   
                </div>
              </div>
            </div>


        </div>
    </div>
</section>