{% load static %}
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row flex-nowrap ">
              <div class="col-lg-2">
                <div class="header__logo">
                    <a href="{% url 'login' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                </div>
              </div>
                <div class="col-lg-6 mt-3">
                    {% include 'searchVar.html' %}
                </div>
                  <div class="col-lg-4 col-md-6 mt-2">
                    <div class="header__top__right">
                      {% if user.is_authenticated %}
                      <div class="header__top__right__auth">
                      <li class="nav-item dropdown no-arrow">
                        <a
                          class="nav-link dropdown-toggle"
                          href="#"
                          id="userDropdown"
                          role="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <span class="mr-2 d-none d-lg-inline text-gray-600 small user-name">{{user.username}}</span>
                          <img class="img-profile avatar rounded-circle" src="{{user.profile.image.url }}" />
                        </a>
                        
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-m enu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{% url 'userprofile' user.username %}">
                                <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Perfil
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Configuracion
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fa fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Actividad
                            </a>
                            <a class="dropdown-item" href="{% url 'logout' %}">
                                <i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>
                                Salir
                            </a>
                            <a class="dropdown-item" href="{% url 'productos:crear' %}">
                                <i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>
                                Crear Producto
                            </a>
                            <a class="dropdown-item" href="{% url 'productos:mostrar' %}">
                                <i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>
                                Mostrar Producto
                            </a>

                        </div>
                      </li>
                            
                      </div>
                          {% else %}

                    <div class="header__top__right__auth">

                        <button class="btn"  style="background-color: #7FAD39;" data-toggle="modal" data-target="#modalIngresar">
                            <a  style='color: #fff; font-style: normal;font-weight: bold;'  >Ingresar</a>
                        </button>
                        <!-- Modal Login -->
                        <div class="modal fade show" id="modalIngresar"  role="dialog" data-show="true"  >
                            <div class="modal-dialog modal-dialog-centered " role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLabel">Ingreso </h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>

                                    </div>


                                        <form method="POST">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-lg-1"></div>
                                                <div class="col-lg-10">
                                                    <div class="row">
                                                        <div class="col-lg-12 mt-2 mb-2">
                                                            <input required type="text" name="username"  class='form-control' placeholder="Nombre de Usuario">
                                                        </div>


                                                        <div class="col-lg-12 mb-2 ">
                                                            <input required type="password"  name="password" class="form-control"  placeholder="Contraseña">

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 p-0">
                                                        <button type="submit"  class="btn  btn-block btn-success">
                                                            Entrar
                                                        </button>
                                                    </div>
                                                    <div class="col-lg-12 text-center  mt-2 mb-2" >
                                                        <a href="#">Olvidaste tu contraseña?</a>
                                                    </div>
                                                </div>

                                            </div>


                                                {{form.errors}}


                                            <div class="modal-body border-top">
                                                <div class="row">
                                                    <div class="col-lg-1"></div>
                                                    <div class="col-lg-10 p-0">
                                                        <button  type="text" class="btn btn-block btn-primary" >
                                                        <a id="crearCuenta"  href="{% url 'Registro'%}"   style="color: #fff;font-weight: 400;font-size: 1rem;"> Crear Cuenta</a>
                                                        </button>
                                                    </div>
                                                    <div class="col-lg-1"></div>
                                                </div>
                                                </div>

                                        </form>
                                         <!-- Fin Form  Registro-->
                                </div>


                            </div>
                        </div>
                    </div>


                        <div class="header__top__right__auth">
                            <button class="btn " style="background-color: #7FAD39;">
                                <a href="{% url 'Registro' %}"  style='color: #fff; font-style:unset;font-weight: bold;' > Crear Cuenta</a>
                            </button>
                        </div>
                        {% endif %}
                       <!-- Modal Registro-->





                    </div>
                </div>

            </div>
        </div>
    </div>
 
</header>