{% extends 'usuarios/perfilContenedor.html'%}
{% load crispy_forms_tags %}
{% block perfil %}

    <div class="section mt-5">
      <div class="row">
        
        <div class="media">
          <div class="col-lg-5">
            <img class="account-img foto-perfil" src="{{user.profile.image.url }}">
          </div>
          <div class="col-lg-7">

              <div class="media-body text-center">
                <h2 class="account-heading">{{user.username}}</h2>
                <p class="text-secondary">{{user.email}}</p>
              </div>

          </div>

        </div>
      </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Informacion de perfil
                </legend>            
                {{ p_form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Actualizar</button>
            </div>
        </form>
       
  </div>



{% endblock %}