{%extends "blog/base.html" %}
{% load crispy_forms_tags %}
{%block content%}
    <div class="content-section">
        <div class="media">
        <img class="rounded-circle account-img" src="{{user.profile.image.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{user.username}}</h2>
            <p class="text-secondary">{{user.email}}</p>
        </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Informacion de perfil
                </legend>
                {{ u_form|crispy}}
                {{ p_form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Actualizar</button>
            </div>
        </form>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Sobre nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contacto</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Lorem ipsum</div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">{{ user.profile.aboutus }}</div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
              <p>{{user.profile.instagram}}</p>
              <p>{{user.profile.twitter}}</p>
              <p>{{user.profile.telefono}}</p>
            </div>
          </div>
  </div>
{%endblock content%}
