
{% load crispy_forms_tags %}


</div>
<div class="" id="modalRegistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" >
    <div class="modal-dialog  " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Ingresar </h3>
                
            </div>

            <form method="POST">
                        {% csrf_token %}
                        <div class="row mt-4 mb-4">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                {{ form.username }}
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                {{ form.password }}
                            </div> 
                            <div class="col-lg-1"></div>

                        </div>
                            
                       
                            
                       
                        <div class="modal-footer">
                           
                                    <button  class="btn btn-block btn-success" type="submit" >Entrar</button>
                       
                                <div class="row">
                                    <div class="text-muted">
                                        No tenes una cuenta? <a class="ml-2" href="{% url 'Registro' %}">Registrate</a>
                                    </div>
                                </div>
                        </div>
                        
            </form>
                
        </div>    
          
        <!-- Fin Form  Registro-->
        </div>
    </div>

