<section class="hero">
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-lg-3">
                
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Categorias</span>
                    </div>
                    <ul>
                        <li><a href="#">Bebidas</a></li>
                        <li><a href="#">Indumentaria</a></li>
                        <li><a href="#">Panaderias</a></li>
                        <li><a href="#">Verdulerias</a></li>
                        <li><a href="#">Accesorios</a></li>
                        <li><a href="#">Servicios</a></li>
                        <li><a href="#">Servicios profesionales</a></li>
                        <li><a href="#">Librerias</a></li>
                        <li><a href="#">Ensenianza</a></li>
                        <li><a href="#">Peluquerias</a></li>
                    </ul>
                    
                </div>
                
            </div>
            <div class="col-lg-9">
                {% include 'perfil/mostrarsinlog.html' %}
              <div class="container-fluid">
                <br>
                <br>
                <div id="resultados">
                        
                </div>
              </div>
            </div>


        </div>
    </div>
</section>