<div class="hero__search__form d-block p-0">
    <form action="">
        <div>
            <input style="width: 83%;" type="text" name="buscado" placeholder="Buscar..." id="buscado">
            <button type="button" class="site-btn" onclick="buscar();">Buscar</button>
        </div>
    </form>


    
<img src="" alt="">
    <script type="text/javascript">

        function buscar(){
            var  b = $('#buscado').val();


            $.ajax({
                data:{'buscando':b},
                url : "{% url 'busqueda' %}",
                type: 'get',
                success: function(x){
                    var div = $('#resultados');
                    div.empty();
                    if (x.estado == 'mal'){
                        var z = '<strong style="color:red; font-size:3em;"> NO TENEMOS RESULTADOS PARA SU BUSQUEDA: ';
                        z += b +'</strong>';
                        div.append(z);
                    }else{
                        for (i = 0;  i <= x.datos.length; i++){
                            var w = '<p> <b>nombre: </b>'+ x.datos[i].nombre;
                            w += ' <b>descripcion: </b>' + x.datos[i].aboutus;
                            w += ' <b>rubro: </b>'+ x.datos[i].rubro;
                            w += ' <b>imagen: </b><img src="media/'+x.datos[i].image+'">';

                            w += '</p>';
                            console.log(w)
                            div.append(w);
                        }
                    }
                }
            });
        }


</script>
</div>